.aboutMe{
    background-color: #E6EBE0;
    h2{
        color:#F38779;
    }
    img{
        border-radius: 50%;
        width:15%;
        object-fit: cover;
    }
    p{
        width:80%;
        margin:1rem auto;
    }
    .linkToContact{
        font-family: "skranji";
        color:#28536b;
        font-size: 1.2rem;
    }
}