.aboutMe{
    background-color: #F1F3EC;
    
    img{
        border-radius: 50%;
        width:15%;
        object-fit: cover;
    }
    p{
        width:80%;
        margin:1rem auto;
    }
    .linkToContact{
        font-family: "skranji";
        color:#c24712;
        font-size: 1.2rem;
    }
}