.contact{
    background-color: #C2948A;
    .socials{
        display: flex;
        justify-content: space-between;
        .social{
            font-size: 1.5rem;
            color: #28536b;
            padding:1rem;
        }
    }

    .contactContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
    }

    h2{
        color:antiquewhite;
        margin-bottom: 0;
    }
    .message{
        width:70%;
        margin-bottom: 2rem;
    }
    .form{
        display:flex;
        flex-direction: column;
        width:70%;
        justify-content: center;
        text-align: left;
        text-transform: uppercase;
        
        label{
            font-family: "Amiko";
        }
        input{
            margin-bottom: 0.5rem;
        }        
        .textArea{
            resize: none;
        }

        .formSubmit{
            width:25%;
            margin:1rem auto;
        }
    }
}