header{
    background-color: #28536b;
    padding-top: 2rem;
    padding-bottom: 3rem;
    height:60vh;
    
    h1{
    padding-top:3rem;
    margin-bottom:0;
    }
    
    h1,
    h3{
    color:antiquewhite;
    }
    
    nav{
    color: antiquewhite;
    }
    
    .navContainer{
    width:30%;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    }


    .title{
        padding-top: 5rem;
        padding-bottom: 4rem;
    }
}







