header{
    background-color: #28536b;
    padding-top: 2rem;
    h1{
    margin-bottom:0;
    }
    h1,
    h3,
    nav{
    color:antiquewhite;
    }

    a {
        font-size: 1.5rem;
    }

    .home{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navContainer{
    width:50%;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    }

    .title{
        height:100vh;
        display:flex;
        flex-direction: column;
        justify-content: center;
        
        .titleButton{
            align-self: center;
        }
    } 
}







