header{
    background-color: #28536b;
    padding-top: 2rem;
    h1{
    margin-bottom:0;
    }
    h1,
    h3,
    nav{
    color:antiquewhite;
    }

    a {
        font-size: 1.5rem;
    }

    .home{
        display:flex;
        flex-direction: column;

    }

    .hamburger{
        display:none;
    }

    .navContainer{
        width:70%;
        margin:0 auto;
        display:flex;
        justify-content: space-between;
    }

    .slideOutNav{
        display:none;
        
    }    
    .title{
        min-height:100vh;
        display:flex;
        flex-direction: column;
        justify-content: center;
        
        .titleButton{
            align-self: center;
        }
    }     
}   








