
 // 768*1024
@media (max-width: 768px) {
    .projects{
        
        .project{
            h3{
                margin-top:2rem;
            }
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .projectImgContainer,
            .projectDetails {
                    width: 80%;
            }
            .projectDetails {
                text-align: center;
                
            }
        }
        .project2{
            flex-direction: column-reverse;
        }
        .project3{
            margin-bottom:0.5rem;
        }
    }
    .contact{
        .contactContainer{
            p,
            .form{
                width:80%;
            }
        }
    } 
}    

// @media (max-width: 660px){
//     .skills {
//             .skillContainer {
//                 display: flex;
//                 flex-direction: column;
//                 align-items: center;
//             }
    
//             .skillList {
//                 margin-top: 2rem;
//                 flex-wrap: wrap;
//                 align-items: center;
    
//                 .skillIcon {
//                     width: 24%;
//                 }
    
//                 i {
//                     font-size: 4rem;
//                 }
//             }
//         }
// }

// @media(max-width:640px){
//     h1 {
//             font-size: 5rem;
//         }
//     h2 {
//         font-size: 4rem;
//     }

//     h3 {
//         font-size: 3rem;
//     }
// }
// // 480*854
// @media (max-width: 480px) {
//     h1{
//         font-size: 5rem;
//     }
//     h2{
//         font-size:4rem;
//     }
//     h3 {
//         font-size: 3rem;
//     }
//     header {
//         .navContainer {
//             a{
//                 font-size: 1.3rem;
//             }
//         }
//         .title {
//             height: 100vh;
//         }
//     }
//     .skills{    
//         .skillContainer{
//             display: flex;
//             flex-direction: column;
//             align-items: center;
//         }    
//         .skillList{
//             margin-top:2rem;
//             flex-wrap: wrap;
//             align-items: center;
//             .skillIcon{
//                 width:24%;
//             }
//             i{
//                 font-size:3rem;
//             }
//         }
//     }

//     .contact{
//         .contactContainer{
//             .form{
//                 width:100%;
//             }
//         }       
//     }
// }

// @media(max-width:440px){
//     h1 {
//             font-size: 4rem;
//     }
//     h2 {
//         font-size: 3rem;
//     }
//     h3 {
//         font-size: 2rem;
//     }
// }
// @media(max-width:414px) {
//     header {
//             .navContainer {
//                 width: 100%;
//             }
//         }
// }

// @media(max-width:375px){
//     header {
//         .navContainer {
//             width: 100%;
//         }
//     }
// }