// 768*1024
@media (max-width: 768px) {
    header{
        .navContainer{
            width:100%;
        }
    }
    .projects{
        .project{
            h3{
                margin-top:2rem;
            }
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .projectImgContainer,
            .projectDetails {
                    width: 80%;
            }
            .projectDetails {
                text-align: center;
                
            }
        }
        .project2{
            flex-direction: column-reverse;
        }
        .project3{
            margin-bottom:0.5rem;
        }
    }
    .contact{
        .contactContainer{
            p,
            .form{
                width:80%;
            }
        }
    } 
}    


@media(max-width:640px){
    h1 {
            font-size: 5rem;
        }
    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 3rem;
    }

    header{
        .menuIcon{
            display:flex;
            background-color: transparent;
            color:antiquewhite;
            font-size: 2.5rem;
            justify-content: flex-end;
        }
        .slideOutNav {
            background-color: #F1F3EC;
            color: #28536b;
            height: 30vh;
            position: fixed;
            top: 0;
            padding: 20px;
            width: 20%;
            max-width: 200px;
            font-weight: bold;
            display: flex;
            flex-direction: column;
            z-index: 20;
            right:-250px;
            top: -250px;
            transition: 0.3s;

            // this is for js , to show the slideOutNav
            &.open {
                top: 0;
                right:0;
            }
        }
        .navContainer{
            display:none;
        }
        .title{
            min-height: 80vh;
        }
    }
}