// 768*1024
@media (max-width: 768px) {
    header{
        .navContainer{
            width:100%;
        }
    }
    .aboutMe{
        img{
            width: 30%;
        }
    }
    .projects{
        .project{
            h3{
                margin-top:2rem;
            }
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .projectImgContainer,
            .projectDetails {
                    width: 80%;
            }
            .projectDetails {
                text-align: center;
                
            }
        }
        .project2{
            flex-direction: column-reverse;
        }
        .project3{
            margin-bottom:0.5rem;
        }
    }
    .contact{
        .contactContainer{
            p,
            .form{
                width:80%;
            }
        }
    } 
}    


@media(max-width:640px){
    h1 {
            font-size: 5rem;
        }
    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 3rem;
    }

    header{
        .hamburger{
            display:flex;
            background-color: transparent;
            color:antiquewhite;
            font-size: 2.5rem;
            position:absolute;
            right:0px;
        }

        .slideOutNav {
            background-color: #F1F3EC;
            opacity: 85%;
            color: #28536b;
            height: 25vh;
            position: fixed;
            top: 0;
            right:-250px;
            padding: 20px;
            min-width: 200px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            z-index: 100;
            transition: 0.2s;
            

            &.open {
                right:0;
            }

            .menuClose{
                text-align: center;
                width:40px;
                height:40px;
                display:flex;
                justify-content: center;
                align-items: center;
                .fa-xmark{
                    font-size:1.5rem;
                }
            }

            .slideUl{
                display:flex;
                flex-direction: column;
                justify-content: space-around;
                li{
                    padding-top:10px;
                    padding-bottom: 1px;
                }
            }
        }
        .navContainer{
            display:none;
        }
        .title{
            min-height: 80vh;
        }
    }
}

@media(max-width:460px) {
    h1 {
        font-size: 4rem;
    }
    
    h2 {
    font-size: 3rem;
    }

    h3 {
    font-size: 2rem;
    }
    header{
        .title{
            min-height: 70vh;
        }
    }
    
}