.skills{
    background-color: #DE9378;
    h2 {
            color: #F6F0ED;
        }
    .skillList{
        display: flex;
        justify-content: space-between;
        i{
            font-size:4rem;
        }
    }
}