.skills{
    background-color: #EDF1F2;
    
    .skillList{
        display: flex;
        flex-wrap:wrap;
        justify-content: center;

        i{
            font-size:4rem;
            color:#c24712;
        }
        .skillIcon{
            margin-left: 20px;
            margin-right:20px;
            min-width:75px;}
    }
}