h1,
h2{
font-family:"Carter One";
}

h1{
    font-size: 90px;
}
h2{
font-size:50px;
}

h3{
font-family: "Skranji";
font-size:30px;
}

h4,
p{
    font-family: "Amiko";
}

h4{
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: inherit;
    transition: 0.3s;
}



