h1,
h2{
font-family:"Carter One";
}

h1{
    font-size: 7rem;
}
h2{
    font-size:5rem;
    color:#28536b;
}

h3{
    font-family: "Skranji";
    font-size:4rem;
}

h4,
p{
    font-family: "Amiko";
}

p{
    font-size:18px ;
}

h4{
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: inherit;
    transition: 0.3s;
}



