html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skipLink {
  background-color: #E76345;
  color: white;
  font-family: "Amiko";
  font-size: 1rem;
  padding: 10px 0;
  position: absolute;
  left: -1000px;
  top: 0;
  z-index: 999;
}
.skipLink:focus {
  left: 0;
  right: 0;
  text-align: center;
}

section {
  padding-top: 2rem;
  padding-bottom: 3rem;
}

h1,
h2 {
  font-family: "Carter One";
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-family: "Skranji";
  font-size: 4rem;
}

h4,
p {
  font-family: "Amiko";
}

h4 {
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li,
footer,
button,
label {
  font-family: "Amiko";
}

li,
footer,
button {
  font-weight: 600;
}

button,
.formSubmit {
  border: none;
  background-color: #c24712;
  color: antiquewhite;
  padding: 15px 20px;
  cursor: pointer;
}
header {
  background-color: #28536b;
  padding-top: 2rem;
}
header h1 {
  margin-bottom: 0;
}
header h1,
header h3,
header nav {
  color: antiquewhite;
}
header a {
  font-size: 1.5rem;
}
header .home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .navContainer {
  width: 50%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .title {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .title .titleButton {
  -ms-flex-item-align: center;
      align-self: center;
}

.skills {
  background-color: hsl(189deg, 33%, 92%);
}
.skills h2 {
  color: #212E4E;
}
.skills .skillList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.skills .skillList i {
  font-size: 4rem;
  color: hwb(18 7% 24%);
}

.contact {
  background-color: #E6EBE0;
}
.contact .social,
.contact h2,
.contact p,
.contact label {
  color: #28536b;
}
.contact .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact .socials .social {
  font-size: 1.5rem;
  padding: 1rem;
  color: hwb(18 7% 24%);
}
.contact .contactContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact h2 {
  margin-bottom: 0;
}
.contact .message {
  width: 70%;
  margin-bottom: 2rem;
}
.contact .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  text-transform: uppercase;
}
.contact .form label {
  font-family: "Amiko";
}
.contact .form input {
  margin-bottom: 0.5rem;
}
.contact .form .textArea {
  resize: none;
}
.contact .form .formSubmit {
  width: 25%;
  margin: 1rem auto;
  color: antiquewhite;
}

.aboutMe {
  background-color: #E6EBE0;
}
.aboutMe h2 {
  color: #F38779;
}
.aboutMe img {
  border-radius: 50%;
  width: 15%;
  -o-object-fit: cover;
     object-fit: cover;
}
.aboutMe p {
  width: 80%;
  margin: 1rem auto;
}
.aboutMe .linkToContact {
  font-family: "skranji";
  color: #28536b;
  font-size: 1.2rem;
}

.projects {
  background-color: #F6F0ED;
}
.projects h2 {
  color: #2F4568;
  padding-bottom: 2rem;
}
.projects .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 5rem;
  margin-top: 1rem;
}
.projects .project .projectImgContainer {
  width: 48%;
}
.projects .project .projectImgContainer img {
  width: 100%;
}
.projects .project .projectDetails {
  width: 48%;
  text-align: left;
}
.projects .project2 .projectDetails {
  text-align: right;
}
.projects h3 {
  margin-bottom: 0.5rem;
}
.projects h4 {
  margin-top: 0;
}

footer {
  background-color: #28536b;
  color: antiquewhite;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (max-width: 896px) {
  header .title h1,
header .title h3 {
    margin-top: 0;
  }
  .projects h2 {
    margin: 0;
  }
}
@media (max-width: 890px) {
  header .navContainer {
    width: 80%;
  }
  header .title h1 {
    margin: 0;
  }
}
@media (max-width: 768px) {
  h2 {
    margin: 1rem 0;
  }
  header .navContainer {
    width: 80%;
  }
  header .title {
    height: 100vh;
  }
  header .title h1 {
    margin-top: 2rem;
  }
  .aboutMe img {
    width: 20%;
  }
  .aboutMe p {
    width: 90%;
  }
  .projects .project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .projects .project h3 {
    margin-top: 2rem;
  }
  .projects .project .projectImgContainer,
.projects .project .projectDetails {
    width: 80%;
  }
  .projects .project .projectDetails {
    text-align: center;
  }
  .projects .project2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .projects .project3 {
    margin-bottom: 0.5rem;
  }
  .contact .contactContainer p,
.contact .contactContainer .form {
    width: 80%;
  }
}
@media (max-width: 660px) {
  .skills .skillContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .skills .skillList {
    margin-top: 2rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .skills .skillList .skillIcon {
    width: 24%;
  }
  .skills .skillList i {
    font-size: 4rem;
  }
}
@media (max-width: 640px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 3rem;
  }
}
@media (max-width: 480px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 3rem;
  }
  header .navContainer a {
    font-size: 1.3rem;
  }
  header .title {
    height: 100vh;
  }
  .skills .skillContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .skills .skillList {
    margin-top: 2rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .skills .skillList .skillIcon {
    width: 24%;
  }
  .skills .skillList i {
    font-size: 3rem;
  }
  .contact .contactContainer .form {
    width: 100%;
  }
}
@media (max-width: 440px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2rem;
  }
}
@media (max-width: 414px) {
  header .navContainer {
    width: 100%;
  }
}
@media (max-width: 375px) {
  header .navContainer {
    width: 100%;
  }
}